.movie-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  cursor: pointer;
}

.movie-poster {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
